extends ../layouts/common

block content

    h2 View user
    p
        b Name:
        span &nbsp
        span= user.name

    p
        b Phone:
        span &nbsp
        span= user.phone

    p
        b Email:
        span &nbsp
        span= user.email